<md-toolbar color="primary">
  <span class="title">Milan Vadher</span>

  <span class="space"></span>

  <div class="menu">
    <button md-button routerLink="/home"><i class="material-icons">home</i> Home </button>
    <button md-button routerLink="/myWorks"><i class="material-icons">work</i> My Works </button>
    <button md-button routerLink="/blog"><i class="material-icons">rate_review</i> Blog</button>
    <button md-button routerLink="/aboutMe"><i class="material-icons">account_box</i> About Me</button>
  </div>

  <!-- <button md-icon-button><i class="material-icons">home</i></button> -->

</md-toolbar>