.title {
    font-family: Dancing Script;
    font-size: 30px;
    padding-inline-start: 20px;
    font-weight: bold;
}

.space {
    flex: 1 1 auto;
}

.menu {
    padding: 0 14px;
}
.material-icons { 
    font-size: 18px; 
    padding-inline-end: 10px;
}