<div class="backg">
  <div>
    <img class="img" md-card-image src="\assets\IMG\Milan.png" alt="Milan Vadher photo">
  </div>
  <div class="text">
    <h1>Milan Vadher</h1>
    <p>
      My name is Milan Vadher. I am a beginner photographer, and also do the video editing. focus on the creativity and development.
      <br><br>
      I currently working at Dada bhagwan foundation as a photographer for Akram Youth Magazine, and as video editor.
    </p>
  </div>
</div>