.img {
    height: 450px;
    padding-top: 32px;
    padding-inline-start: 60px;
    float: left;
    padding-inline-end: 150px;
    opacity: 0.9;
    /* position: fixed; */
}

.backg {
    background-color: #3FB0AC;
}

.text{
    font-family: "Open Sans";
    text-align: center;
    padding-inline-end: 100px;
    padding-block-start: 80px;
    padding-bottom: 120px;
}

h1 {
    font-size: 50px;
    font-family: "Dancing script";
    font-weight: bold;
    color: #173E43;
    text-shadow: 3px 3px 8px #173E43;
}

p {
    font-size: 20px;
}